@font-face {
    font-family: "Nasalization";
    font-family: "Nasalization RG";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/nasalization-rg.ttf) format("truetype");
}
/*@font-face {
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/nasalization-rg.ttf) format("truetype");
}*/
@font-face {
  font-family: "Ethnocentric";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Hemi Head";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/hemihead.ttf) format("truetype");
}
@font-face {
  font-family: "Fira Sans RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/firasans-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Fira Sans Semibold";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/firasans-semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/ubuntu-regular.ttf) format("truetype");
}