@font-face {
    font-family: "Nasalization";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/nasalization-rg.ttf) format("truetype");
}
@font-face {
    font-family: "Nasalization RG";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/nasalization-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Hemi Head";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/hemihead.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Fira Sans RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/firasans-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Fira Sans Semibold";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/firasans-semibold.ttf) format("truetype");
}