@font-face {
    font-family: "Nasalization", "Nasalization RG";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/nasalization-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric", "Ethnocentric RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Hemi Head";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/hemihead.ttf) format("truetype");
}

@font-face {
  font-family: "Red October";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/common/fonts/ubuntu-regular.ttf) format("truetype");
}