@font-face {
    font-family: "Nasalization";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/Common/nasalization-rg.ttf) format("truetype");
}
@font-face {
    font-family: "Nasalization RG";
    src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/Common/nasalization-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Hemi Head";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/Common/hemihead.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/Common/ethnocentric-rg.ttf) format("truetype");
}
@font-face {
  font-family: "Ethnocentric RG";
  src: url(https://eduardofsilva.github.io/BetterDiscordTheme/resources/Common/ethnocentric-rg.ttf) format("truetype");
}