/*Quote Notation*/
.blockquoteDivider-2hH8H6 {
	background-color: var(--quoteAccent);
}

.markup-2BOw-j code{
	border: var(--markBoxBorderType) var(--markBoxBorderColor) var(--markBoxBorderThickness);
	background-color: var(--markBoxBG);
	color: white;
	padding: 14px;
}