/*Transiction For DM*/
:root{
  --time: 250ms
}

.layout-2DM8Md{
  transition: all 125ms linear
}

.clickable-1JJAn8:hover .layout-2DM8Md{
  background-color: #ffffff88;
  transition: all var(--time) linear
}
.clickable-1JJAn8:hover .layout-2DM8Md > div > div > div{
  color: black;
  transition: all var(--time) linear
}

.clickable-1JJAn8:active .layout-2DM8Md{
  background-color: #00005588;
  transition: none;
}
.clickable-1JJAn8:active .layout-2DM8Md > div > div > div{
  color: white;
  transition: none;
}
.selected-aXhQR6 .layout-2DM8Md{
  background-color: #005; 
  transition: none;

}

.scrollerWrap-1IAIlv{
  background-color: #00005533; 
}

.typeWindows-1za-n7{
  background-color: #23005299; 
}

.winButtonClose-1HsbF-,.winButtonMinMax-PBQ2gm{
  background-color: #230052;
  height: 21px;
  padding-left: 2px;
  padding-right: 2px;
  transition: all var(--time) linear
}

.winButtonClose-1HsbF-:hover{
  background-color: #6d00ff;
  transition: all var(--time) linear
}
.winButtonMinMax-PBQ2gm:hover{
  background-color: #0000c0;
  transition: all var(--time) linear
}
.winButtonClose-1HsbF-:active{
  background-color: #8E3CFC;
  transition: none;
}
.winButtonMinMax-PBQ2gm:active{
  background-color: #4949FC;
  transition: none;
}
.item-2hkk8m{
  background-color: #6d00ff;
}

.placeholder-37qJjk{
  color: #7517F1;
}
.slateTextArea-1Mkdgw{
  color: #A76BF6;
}

.scroller-2FKFPG::-webkit-scrollbar, 
.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar, 
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar {
    width: 5px;
}