/**
  * @name XLIVTheme
  * @version 2.0 Rewrited
  * @author Eduardu44
  * @description Rewrite From My Theme For Better Discord
  * @source https://github.com/EduardoFSIlva/BetterDiscordTheme
  */



/*Main Files - Don't Remove or Comment*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/Fonts.css");
/*Comment For Disable Markdown*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Code.css");

:root{
    /*Discord Icon*/
    --iconNormal: #008;
    --iconHover: #00f;
    --iconActive: #004;

    /*Code Module Related*/

    /*Markdown Box*/
    --quoteAccent: #00f;
    --markBoxBorderType: solid;
    --markBoxBorderColor: #3e3e3e;
    --markBoxBorderThickness: 2px;
    --markBoxBG: #44444444;
    --markBoxPadding: 14px;
}

@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/Fonts.css");


/*Background Image*/
.appMount-3lHmkl {
    background-image: url("https://eduardofsilva.github.io/BetterDiscordTheme/resources/XLIVThemeBG.png");
    background-position: center;
    background-size: cover;
    background-color: transparent !important;
    filter: blur(0px);
}

/*Home Container*/
.theme-dark .container-1D34oG{
	opacity: 1;
    background-color: rgba(0,0,0,0);
	overflow: hide;
}


/*DM Title*/
.name-uJV0GL{
    color: white;
}

/*DM Subtitle*/
.subText-1KtqkB,.subtext-1RtU34{
	font-size: 14px;
	color: white;
}

.titleBar-AC4pGV .wordmark-2iDDfm::after {
    /* For credits don't remove */
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 70px;
    width: 250px;
    height: 16px;
    font-family: "Nasalization RG";
    content: "XLIVTheme Rewrited 2.0";
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    z-index: 999;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG{
	overflow: auto;
}

/*Discord Icon*/
/*Normal*/
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9{
	background-color: var(--iconNormal);
}

/*Hover*/
.wrapper-1BJsBx:hover.selected-bZ3Lue .childWrapper-anI2G9:hover{
	background-color: var(--iconHover);
}

/*Active*/
.wrapper-1BJsBx:active.selected-bZ3Lue .childWrapper-anI2G9:active{
	background-color: var(--iconActive);
}