/**
  * @name XLIVTheme
  * @version 2.0 Rewrited
  * @author Eduardu44
  * @description Rewrite From My Theme For Better Discord
  * @source https://github.com/EduardoFSIlva/BetterDiscordTheme
  */



/*Main File - Don't Remove*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Base.css");

/*Comment To Disable Theme Image*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Image.css");

/*Comment For Disable Markdown*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Code.css");

:root{
    --bgColor: transparent;
    /*Discord Icon*/
    --iconNormal: #008;
    --iconHover: #00f;
    --iconActive: #004;

    /*Code Module Related*/

    /*Markdown Box*/
    --quoteAccent: #00f;
    --markBoxBorderType: solid;
    --markBoxBorderColor: #3e3e3e;
    --markBoxBorderThickness: 2px;
    --markBoxBG: #44444444;
    --markBoxPadding: 14px;
}

/*You can add extra css rules under this comment*/