.appMount-3lHmkl {
    background-image: url("https://eduardofsilva.github.io/BetterDiscordTheme/resources/xlivminimal/XLIVMinimalBG.png");
    background-position: center;
    background-size: cover;
    background-color: transparent !important;
    filter: blur(0px);
}