/**
  * @name XLIVTheme
  * @version Rewrited
  * @author Eduardu44
  * @description Rewrite From My Theme For Better Discord
  * @source https://github.com/EduardoFSIlva/BetterDiscordTheme
  */



/*Main Module File - Don't Remove*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Base.css");



/*Extra Modules CAN BE DISABLED*/

/*Comment/Remove To Disable Theme Image*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Image.css");
/*Comment/Remove For Disable Markdown*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Code.css");
/*Comment/Remove For Disable Status(WIP)*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Status.css");
/*Comment/Remove For Disable Frame(WIP)*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Frame.css");

/*Variables*/
:root{
    /*Background*/
    --bgColor: transparent; /*For Custom image this need to be transparent*/
    --bgImg: url(""); /*For Custom Image Drop The Image Link Here(Image Module Needs to be Disabled)*/
    /*Discord Icon*/
    --iconNormal: #008;
    --iconHover: #00f;
    --iconActive: #004;

    /*Code Module Related*/

    /*Markdown Box*/
    --quoteAccent: #00f;
    --markBoxBorderType: solid;
    --markBoxBorderColor: #3e3e3e;
    --markBoxBorderThickness: 2px;
    --markBoxBG: #44444444;
    --markBoxPadding: 14px;
    --markBoxBlockLang: #0ff;
    --codeWrite: white;
    --codeString: #42ffef;
    --codeClasses: #f44;
    --codeKeywords: #ff0;
    --codeComment: lime;
    --codeAttributes: #0ff;
    --codeMethods: magenta;
    --codeDelations: #f55;
}


/*You can add extra css rules under this comment*/

