/**
  * @name XLIVTheme
  * @version 2.0 Rewrited
  * @author Eduardu44
  * @description Rewrite From My Theme For Better Discord
  * @source https://github.com/EduardoFSIlva/BetterDiscordTheme
  */



/*Main File - Don't Remove*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Base.css");

/*Comment To Disable Theme Image*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/xlivtheme/Image.css");

/*Comment For Disable Markdown*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Code.css");

/*Comment For Disable Status(WIP)*/
@import url("https://eduardofsilva.github.io/BetterDiscordTheme/modules/XLIVTheme/Status.css");

:root{
    /*Background*/
    --bgColor: transparent; /*For Custom image this need to be transparent*/
    /*Discord Icon*/
    --iconNormal: #008;
    --iconHover: #00f;
    --iconActive: #004;

    /*Code Module Related*/

    /*Markdown Box*/
    --quoteAccent: #00f;
    --markBoxBorderType: solid;
    --markBoxBorderColor: #3e3e3e;
    --markBoxBorderThickness: 2px;
    --markBoxBG: #44444444;
    --markBoxPadding: 14px;
    --markBoxBlockLang: #0ff;
    --codeWrite: white;
    --codeString: #42ffef;
    --codeClasses: #f44;
    --codeKeywords: #ff0;
    --codeComment: lime;
    --codeAttributes: #0ff;
    --codeMethods: magenta;
    --codeDelations: #f55;
}

/*Uncomment For You Custom BG*/

/*
.appMount-3lHmkl {
    background-image: url("https://eduardofsilva.github.io/BetterDiscordTheme/resources/xlivtheme/XLIVThemeBG.png");
	/*For Custom image, change the Link abouve (Image Module Need To be disabled, Default: XLIV Theme BG)
}
*/





/*You can add extra css rules under this comment*/

